html
{
 background-color: black;
}
p.welcome
{
    font-family: 'Spicy Rice', cursive;
    font-size :60px;
    color: antiquewhite;   
    margin: 0em 40px 0px 440px;
}

button
{
    color:black;
    background-color: lightseagreen;
    font-family: 'Spicy Rice', cursive;
    font-size:35px;
    padding: 10px 50px;
}
button:hover
{
    background-color: whitesmoke;
}

#demo,#content
{
    color:whitesmoke;
    font-size :20px;
    font-family: 'Bree Serif', serif;
 
}

#error
{
    color:red;
    font-size :20px;
    font-family: 'Bree Serif', serif;
 
}

#subButton
{
    color:black;
    background-color: lightseagreen;
    font-family: 'Spicy Rice', cursive;
    font-size:20px;
    padding: 10px 20px;
}
